<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="/LearningMaterial/<%= items[0]['post_id'] %>/info">Info</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="/LearningMaterial/<%= items[0]['post_id'] %>/video">Videos</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/LearningMaterial/<%= items[0]['post_id'] %>/files">Files</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/LearningMaterial/<%= items[0]['post_id'] %>/activity">Activites</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/LearningMaterial/<%= items[0]['post_id'] %>/reference">Reference</a>
	</li>
</ul>